.message-list{
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    padding-bottom: 60px;
}

.messages-divider{
    width: 90%;
    border-bottom: 2px solid #cacaca;
    align-self: center;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color:#999;
    padding: 7px;
}