.message-user-avatar{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.own-message,
.message{
    display: flex;
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;
    align-items: center;
    position: relative;
    padding-bottom: 40px;
    border-bottom: 2px solid #e8e8e8;
    
}
.own-message{
    padding-left: 50px;
}
.message-text{
    border: 2px solid gray;
    padding: 15px;
    border-radius: 15px;
    margin-left: 50px;

}
.message-time{
    font-size: 12px;
    font-weight: 600;
    color:#999;
    margin-left: 5px;
}
.message-user-name{
    position: absolute;
    background-color: honeydew;
    border-radius: 7px;
    padding: 5px;
    left: 30px;
    top: 50%;
    transform: translateY(5px);
    border: 2px solid gray;
    cursor: pointer;

}
.display-none{
    display: none;
}

.message-edit,
.message-liked,
.message-like,
.message-delete{
    border: 2px solid #ff7878;
    background: #ffe6e6;
    border-radius: 7px;
    font-size: 12px;
    position: absolute;
    left: 80px;
    bottom: 20px;
    cursor: pointer;
}
.message-edit{
    border: 2px solid rgb(31, 31, 31);
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-left: 15px;
    background: #999;
}
.message-edit:hover{
    transform: scale(1.06);
    transition: .5s;
}
.own-message>.message-user-name{
    left: 5px;
    top: 0px;
    background-color: #d2d2d2;    
}
.own-message> .message-text{
    background-color: #d2d2d2;
    margin-left: 40px;
}

.message-liked,
.message-like{
    left: 55px;
    top: 0px;
    bottom: auto    ;
    background-color: transparent;
}
.message-like:hover,
.message-delete:hover{
    background-color: #ffadad;
    transition: .2s;

}

.message-liked{
    background-color: #ffadad;
}